.w100 {
  width: 100vw !important;
}

.title {
  background-color: #212121;
  color: #fafafa;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fafafa;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.img::before {
  max-width: 100%;
  position: relative;
  display: block;
}

.p {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-family: 'Heebo', sans-serif;
  text-align: start;
}

.prow {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #e1e1e1;
  border-width: thin;
  padding: 10px;
}

.goback {
  border-style: solid;
  border-width: thin;
  border-color: #e53935;
  width: 60%;
  margin-bottom: 15px;
  padding: 5px;
}

.goback > h1 {
  margin: 5px;
  color: #e53935 !important;
}

.a:link,.a:visited,.a:active {
  color: #e53935;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.container-img {
  
}
