.container {
  display: inline-flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  height: 500px;
  background-color: #212121;
  margin: 20px;
  font-family: 'Heebo', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

a:link {
  color: #212121;
  text-decoration: none;
}

a:visited {
  color: #212121;
}

a:active {
   color: #212121; ;
}

.border {
  border-style: solid;
  border-width: thin;
  border-color: #212121;
}

span {
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #fafafa;
  width: 100%;
  max-width: 300px;
  height: 60px;
}
